{% extends "base.html" %}

{% block content %}
<br />
<h1>{% block title %} Welcome back, {{ name }}! {% endblock %}</h1>
<br />
<h2>Your Economic Calendar Dashboard</h2>
<br />
<a href="{{ url_for('main.indicator_form') }}">
  <button type="button" class="btn btn-warning">Create Your Customized Economic Calendar</button>
</a>
<br />
<br />
<!-- dashboard.html -->
<table class="table">
  <tr>
    <th>Indicator</th>
    <th>Title</th>
    <th>Value</th>
    <th>Date</th>
    <th>Previous Value</th>
    <th>Previous Date</th>
  </tr>
  {% for indicator, (title, value, date, previous_value, previous_date) in customized_data.items() %}
  <tr>
    <td>{{ indicator }}</td>
    <td>{{ title }}</td>
    <td>{{ value }}</td>
    <td>{{ date }}</td>
    <td>{{ previous_value }}</td>
    <td>{{ previous_date }}</td>
  {% endfor %}
  </tr>
</table>

{% endblock %}
