{% extends "base.html" %} {% block content %}
<br />
<h1>Welcome back, {{ name }}!</h1>
<!-- Standard Title -->
{% if current_user.indicators %}
<br />
<h2>Your Economic Calendar Dashboard</h2>
<br />
{% endif %}
<!-- Customized Title -->
{% if not current_user.indicators %}
<br />
<h2>Economic Calendar Dashboard</h2>
<br />
{% endif %}
<!-- Button to create a customized dashboard -->
{% if not current_user.indicators %}
<a href="{{ url_for('main.indicator_form') }}">
  <button type="button" class="btn btn-warning">
    Create Your Customized Economic Calendar
  </button>
</a>
<br />
{% endif %}
<br />

<!-- dashboard.html -->
<div class="table-responsive">
  <table class="table">
    <tr>
      <th class="text-truncate">Indicator</th>
      <th class="text-truncate">Title</th>
      <th class="text-truncate">Value</th>
      <th class="text-truncate">Date</th>
      <th class="text-truncate">Previous Value</th>
      <th class="text-truncate">Previous Date</th>
    </tr>
    {% for indicator, (title, value, date, previous_value, previous_date,
    series_notes) in customized_data.items() %}
    <tr>
      <td class="text-truncate">{{ indicator }}</td>
      <td data-bs-toggle="offcanvas">
        <!-- Bootstrap attribute that will trigger the offcanvas component. -->
        <a
          class="link-primary"
          data-bs-toggle="offcanvas"
          href="#{{ indicator }}"
          role="button"
          aria-controls="offcanvasExample"
          >{{ title|truncate(68, False) }}</a
        >
        <!--  A Jinja2 filter to truncate the title to a maximum of 68 characters without breaking words in the middle. -->
        <div
          class="offcanvas offcanvas-start"
          data-bs-scroll="true"
          tabindex="-1"
          id="{{ indicator }}"
          aria-labelledby="offcanvasExampleLabel"
        >
          <!-- Offcanvas component -->
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">
              {{ title }}
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <div class="offcanvas-body">
            <div>{{ series_notes }}</div>
          </div>
        </div>
      </td>
      <td class="text-truncate">{{ value }}</td>
      <td class="text-truncate">{{ date }}</td>
      <td class="text-truncate">{{ previous_value }}</td>
      <td class="text-truncate">{{ previous_date }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
<br />
{% if current_user.indicators %}
<!-- Chart -->
<div style="height: 50vh">
  <canvas id="myChart"></canvas>
  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() { // Wait for HTML elements to load, then, execute script
        var customized_data = {{ customized_data|tojson }}; // Convert values to JSON
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: Object.keys(customized_data),  // Get indicator names
                datasets: [
                    {
                        label: 'Previous Value',
                        data: Object.values(customized_data).map(item => item[3]),  // Get previous value
                        backgroundColor: 'rgba(153, 102, 255, 0.2)',
                        borderColor: 'rgba(153, 102, 255, 1)',
                        borderWidth: 1
                    },
                    {
                        label: 'Value',
                        data: Object.values(customized_data).map(item => item[1]),  // Get value
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }
                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    zoom: {
                        pan: {
                            enabled: true,
                            mode: 'xy'
                        },
                        zoom: {
                            enabled: true,
                            mode: 'xy',
                        }
                    }
                }
            }
        });
    });
  </script>
</div>
<br />
{% endif %}

<!-- Scripts -->
<!-- Chart -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock %}
